/* css for home page*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5A9CCE;
}
/*                            */
/* css for top navigation bar*/
/*                            */
.topnav {
  overflow: hidden;
  background-color: #525151;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #BEC3CC;
  color: white;
}

.topnav a.active:hover {
  background-color: #121D34;
  color: white;
}
/*              */
/* text box css */
/*              */
.text h2 {
  position: absolute;
  width: 717px;
  height: 162px;
  left: calc(50% - 717px/2 - 0.5px);
  top: 208px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000
}
/*                                            */
/* css for the game? button of bottom of page*/
/*                                            */
.gameButton {
  position: absolute;
  width: 411px;
  height: 160px;
  top: 625px;
  left: 0;
  right: 0;
  margin: auto;

  background: #7B7A7A;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.gameButton h3 {
  left: calc(50% - 300px/2);
  top: 464px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 15px;
  text-align: center;

  color: black;
}

.gameButton:hover {
  background-color: #2c527a;
  color: white;
}
