/* css for overwatch game page */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5A9CCE;
}
/* css for navigation bar */
.topnav {
  overflow: hidden;
  background-color: #525151;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #A9A7A6;
  color: white;
}
/* main text block css */
.text h2 {
  position: absolute;
  width: 729px;
  height: 342px;
  /*left: 955px;*/
  top: 175px;
  margin-left: 768px;
  margin-right: 250px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 52px;

  color: #000000;
}

.text h3 {
  position: absolute;
  width: 749px;
  height: 85px;
  /*left: 950px;*/
  top: 60px;
  margin-left: 1013px;
  margin-right: 250px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
}
/* css for game? button */
.gameButton {
  position: absolute;
  width: 411px;
  height: 160px;
  top: 625px;
  left: 0;
  right: 0;
  margin: auto;

  background: #7B7A7A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.733);
  border-radius: 30px;
}

.gameButton h3 {
	left: calc(50% - 300px/2);
  top: 464px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 15px;
  text-align: center;

  color: black;
}

.gameButton:hover {
  background-color: #2c527a;
  color: white;
}


/*
/*
// Share button css
//
//*/
.sharebutton {
  position: absolute;
  width: 411px;
  height: 70px;
  left: 940px;

  top: 400px;
  border: none;
  background: #AEA3A3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align:center;
  display: inline-block;
  font-size: 30px;
  font-family: Poppins;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sharebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.sharebutton:hover {
	background-color: #121d34;
  color: white;
}
.sharebutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sharebutton:hover span {
  padding-right: 25px;
}

.sharebutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* Info button css*/
.infobutton {
  position: absolute;
  width: 411px;
  height: 70px;
  left: 940px;
  top: 500px;
  border: none;
  background: #AEA3A3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align:center;
  display: inline-block;
  font-size: 30px;
  font-family: Poppins;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.infobutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.infobutton:hover {
	background-color:#121d34;
  color: white;
}
.infobutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  transition: 0.5s;
}

.infobutton:hover span {
  padding-right: 50px;
}

.infobutton:hover span:after {
  opacity: 1;
  right: 0;
}
/* css for image */
.image img {
  position: absolute;
  top: 140px;
  left: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
