/* css code for the parameters page */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5A9CCE;
}

/* css for navigation bar */
.topnav {
  overflow: hidden;
  background-color: #525151;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #A9A7A6;
  color: white;
}
/* main text block css */
.text h2 {
  position: absolute;
  width: 900px;
  height: 162px;
  left: calc(50% - 875px/2 - 0.5px);
  top: 20px;
  margin: 0;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;

  justify-content: center;

  color: #000000;
}

/* game button css */
.gameButton {
  position: absolute;
  width: 411px;
  height: 160px;
  top: 625px;
  left: 0;
  right: 0;
  margin: auto;
  border:none;

  background: #7B7A7A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.gameButton h3 {
	left: calc(50% - 300px/2);
  top: 464px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 15px;
  text-align: center;

  color: black;
}

.gameButton:hover {
  background-color: #2c527a;
  color: white;
}

/* drop down menu css */
.dropbtn {
  background-color: #2C527A;
  color: white;
  padding: 16px;
  font-size: 36px;
  width: 611px;
  height: 89px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  /*position: absolute;*/
  width: 611px;
  height: 89px;
  left: calc(50% - 670px/2 + 41.5px);
  top: 150px;
  border-radius: 8px;
  background: #121D34;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width:611px;
  border-radius: 8px;
  /*to change the font size of param options*/
  font-size: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #BEC3CC}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #BEC3CC;
}
