/* css code for the settings page */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5A9CCE;
}
/* css for the navigation bar at the top of the page */
.topnav {
  overflow: hidden;
  background-color: #525151;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: ##BEC3CC;
  color: white;
}

.topnav a.active:hover {
  background-color: #121D34;
  color: white;
}
/* main text box*/
.text h2 {
  position: absolute;
  width: 900px;
  height: 162px;
  left: calc(50% - 360px/2 - 0.5px);
  /*left: 0;
  right: 0;*/
  top: 60px;
  margin: auto;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000
}
/* game? button at bottom of page */
.gameButton {
  position: absolute;
  width: 411px;
  height: 160px;
  /*left: 720px;*/
  top: 625px;
  left: 0;
  right: 0;
  margin: auto;

  background: #7B7A7A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.gameButton h3 {
	left: calc(50% - 300px/2);
  top: 464px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 15px;
  text-align: center;

  color: black;
}

.gameButton:hover {
  background-color: #2c527a;
  color: white;
}
/* css for playstation button */
.psButton {
  position: absolute;
  width: 611px;
  height: 89px;
  left: calc(50% - 651px/2 + 41.5px);
  top: calc(50% - 89px/2 - 180.5px);

  background: #9C9999;
}
.psButton:hover {
  background: #2F6B9E;
}

.psButton h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
  color: black;
}
/* css for xbox button */
.xboxButton {
  position: absolute;
  width: 611px;
  height: 89px;
  left: calc(50% - 651px/2 + 41.5px);
  top: calc(50% - 89px/2 - 70.5px);

  background: #9C9999;
}
.xboxButton:hover {
  background: #19D421;
}

.xboxButton h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
  color: black;
}
/* css for nintendo button */
.nintendoButton {
  position: absolute;
  width: 611px;
  height: 89px;
  left: calc(50% - 651px/2 + 41.5px);
  top: calc(50% - 89px/2 + 40.5px);

  background: #9C9999;
}
.nintendoButton:hover {
  background: #ff0000;
}

.nintendoButton h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
  color: black;
}
/*make buttons rounded */
.xboxButton{
  border-radius: 8px;
}
.psButton{
  border-radius: 8px;
}
.nintendoButton{
  border-radius: 8px;
}
