

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BBBBBB;
}

.topnav {
  overflow: hidden;
  background-color: #525151;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #A9A7A6;
  color: white;
}
.text h2{
position: absolute;
width: 900px;
height: 162px;
left: calc(50% - 875px/2 - 0.5px);
top: 230px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 54px;
display: flex;
align-items: center;
text-align: center;

color: #000000
}

.gameButton {
position: absolute;
width: 411px;
height: 160px;
left: 720px;
top: 550px;

background: #7B7A7A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.gameButton h3{
	left: calc(50% - 300px/2);
top: 464px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 15px;
text-align: center;

}

.psButton {
  position: absolute;
width: 611px;
height: 89px;
left: calc(50% - 611px/2 + 41.5px);
top: calc(50% - 89px/2 - 180.5px);

background: #9C9999;
}